<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{base_url()}} /src/Views/css/stylesheet.css">
<script src="{{base_url()}}/src/Views/jquery-3.0.0.min.js"></script>
<script src="{{base_url()}}/src/Views/js/main.js"></script>
</head>
<body>
<h1>Welcome, {{session.username}}!</h1>
<a href = '/logout'>Logout</a>
<a href = '/projects'>Back to projects</a>
<div class="table-title">
<h3>Project Assignments Smartforms</h3>
</div>
<div class="form">
	<p> Select new member</p>
	<select name="memberselect" id="name">
		{%for x in nonmembers%}
		<option value="{{x.person_id}}">{{x.Firstname}} {{x.Lastname}}</option>
		{%endfor%}
	</select>
	<button class ="margined" id="addmember">Add member</button>
</form>	
	<div class="member">
		<h2>Current members</h2>
		<ul id="memheader">
		</ul>
	</div>
</div>	






</body>
</html>